Repository luca-borrione/webnd-project5-travel-app: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, prettier --write, linthtml, eslint --fix, prettier-package-json --write

feat: setting up the express server
  package.json
  src/server/api-routes-controller.js
  src/server/api-routes.js
  src/server/index.js
  yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

chore: adding webpack, sass and babel
  .babelrc
  package.json
  src/client/assets/favicon.ico
  src/client/index.js
  src/client/js/app-view.js
  src/client/styles/index.scss
  src/client/views/index.html
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Due: stylelint --fix, prettier --write, linthtml, eslint --fix, prettier-package-json --write

chore: add jest
  .eslintrc.yml
  .lintstagedrc.yaml
  .vscode/extensions.json
  .vscode/settings.json
  jest.config.js
  jest.setup.js
  package.json
  snapshotResolver.js
  yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

test: add the server specs
  __mocks__/public/index.html
  src/server/api-routes-controller.spec.js
  src/server/api-routes.spec.js
  src/server/api-routes.spec.js.snap
  src/server/index.spec.js
  src/server/index.spec.js.snap
Due: prettier --write, linthtml, eslint --fix

feat: add the header
  src/client/assets/lighthouse.jpg
  src/client/styles/_header.scss
  src/client/styles/_layout.scss
  src/client/styles/core/_variables.scss
  src/client/styles/index.scss
  src/client/views/index.html
Due: stylelint --fix, prettier --write, linthtml

feat: add the search form
  src/client/styles/_header.scss
  src/client/styles/_layout.scss
  src/client/styles/core/_variables.scss
  src/client/styles/index.scss
  src/client/styles/main/_main.scss
  src/client/styles/main/_search.scss
  src/client/views/index.html
Due: stylelint --fix, prettier --write, linthtml

feat: add /api/geoname
  jest.config.js
  package.json
  src/client/js/app-controller.js
  src/client/js/app-controller.spec.js
  src/client/js/app-view.js
  src/client/js/app-view.spec.js
  src/client/js/utils/controller-utils.js
  src/client/js/utils/controller-utils.spec.js
  src/client/js/utils/error-utils.js
  src/client/js/utils/error-utils.spec.js
  src/client/js/utils/index.js
  src/client/styles/main/_search.scss
  src/client/views/index.html
  src/server/api-routes-controller.js
  src/server/api-routes-controller.spec.js
  src/server/api-routes.js
  src/server/api-routes.spec.js.snap
  yarn.lock
Due: stylelint --fix, prettier --write, linthtml, eslint --fix, prettier-package-json --write

feat: add /api/position-info
  .babelrc
  package.json
  src/client/js/app-controller.js
  src/client/js/app-controller.spec.js
  src/client/js/app-view.js
  src/client/js/app-view.spec.js
  src/client/js/app-view.spec.js.snap
  src/client/js/utils/index.js
  src/client/js/utils/selectors.js
  src/client/styles/_header.scss
  src/client/styles/_layout.scss
  src/client/styles/index.scss
  src/client/styles/main/_card.scss
  src/client/styles/main/_main.scss
  src/client/styles/main/_search.scss
  src/client/views/index.html
  src/server/api-routes-controller.js
  src/server/api-routes-controller.spec.js
  src/server/api-routes.js
  src/server/api-routes.spec.js
  src/server/api-routes.spec.js.snap
  yarn.lock
Due: stylelint --fix, prettier --write, linthtml, eslint --fix, prettier-package-json --write

feat: add /api/destination-image
  jest.config.js
  package.json
  src/client/assets/placeholder-destination-thumb.jpg
  src/client/js/app-controller.js
  src/client/js/app-controller.spec.js
  src/client/js/app-view.js
  src/client/js/app-view.spec.js
  src/client/js/app-view.spec.js.snap
  src/client/js/utils/selectors.js
  src/client/styles/main/_card.scss
  src/client/views/index.html
  src/server/api-routes-controller.js
  src/server/api-routes-controller.spec.js
  src/server/api-routes.js
  src/server/api-routes.spec.js
  src/server/api-routes.spec.js.snap
  yarn.lock
Due: stylelint --fix, prettier --write, linthtml, eslint --fix, prettier-package-json --write

feat: add /api/weather-forecast
  jest.config.js
  src/client/js/app-controller.js
  src/client/js/app-controller.spec.js
  src/client/js/app-view.js
  src/client/js/app-view.spec.js
  src/client/js/render-results.js
  src/client/js/render-results.spec.js
  src/client/js/render-results.spec.js.snap
  src/client/js/utils/date-utils.js
  src/client/js/utils/date-utils.spec.js
  src/client/js/utils/index.js
  src/client/styles/main/_card.scss
  src/client/views/index.html
  src/server/api-routes-controller.js
  src/server/api-routes-controller.spec.js
  src/server/api-routes.js
  src/server/api-routes.spec.js
  src/server/api-routes.spec.js.snap
Due: stylelint --fix, prettier --write, linthtml, eslint --fix

feat: add card button
  src/client/fonts/fontello.eot
  src/client/fonts/fontello.svg
  src/client/fonts/fontello.ttf
  src/client/fonts/fontello.woff
  src/client/fonts/fontello.woff2
  src/client/js/app-controller.js
  src/client/js/app-controller.spec.js
  src/client/js/app-view.js
  src/client/js/app-view.spec.js
  src/client/js/render-results.js
  src/client/js/render-results.spec.js
  src/client/js/render-results.spec.js.snap
  src/client/styles/_layout.scss
  src/client/styles/main/_card.scss
  src/server/api-routes-controller.js
  src/server/api-routes-controller.spec.js
  src/server/api-routes.js
  src/server/api-routes.spec.js
  src/server/index.js
  src/server/index.spec.js
  webpack.dev.js
Due: stylelint --fix, eslint --fix

feat: add trip card APIs - /api/save-trip - /api/remove-trip - /api/get-saved-trips - /api/save-trips
  jest.config.js
  jest/jest-transform-stub-named.js
  jest/jest.setup.js
  jest/snapshotResolver.js
  package.json
  src/client/js/app-controller.js
  src/client/js/app-controller.spec.js
  src/client/js/app-view.js
  src/client/js/app-view.spec.js
  src/client/js/app-view.spec.js.snap
  src/client/js/render-results.js
  src/client/js/render-results.spec.js
  src/client/js/render-results.spec.js.snap
  src/client/styles/main/_card.scss
  src/client/views/index.html
  src/server/api-routes-controller.js
  src/server/api-routes-controller.spec.js
  src/server/api-routes.js
  src/server/api-routes.spec.js
  src/server/api-routes.spec.js.snap
  src/server/index.js
  src/server/index.spec.js
  webpack.dev.js
  yarn.lock
Due: stylelint --fix, prettier --write, linthtml, eslint --fix, prettier-package-json --write

chore: deploying to heroku
  Procfile
  package.json
Due: prettier --write, prettier-package-json --write

feat: restoring the saved trips on startup - updating the thumbnail if expired
  package.json
  src/client/js/app-controller.js
  src/client/js/app-controller.spec.js
  src/client/js/app-view.js
  src/client/js/app-view.spec.js
  src/client/js/app-view.spec.js.snap
  src/client/js/utils/controller-utils.js
  src/server/api-routes-controller.js
  src/server/api-routes-controller.spec.js
  src/server/api-routes.js
  src/server/api-routes.spec.js
  src/server/api-routes.spec.js.snap
  src/server/index.js
  src/server/index.spec.js
  src/server/routes/foo.js
  src/server/routes/foo.spec.js
  src/server/routes/geoname.js
  src/server/routes/geoname.spec.js
  src/server/routes/location-info.js
  src/server/routes/location-info.spec.js
  src/server/routes/thumbnail.js
  src/server/routes/thumbnail.spec.js
  src/server/routes/trips.js
  src/server/routes/trips.spec.js
  src/server/routes/weather-current.js
  src/server/routes/weather-current.spec.js
  src/server/routes/weather-forecast.js
  src/server/routes/weather-forecast.spec.js
  src/server/utils/error-utils.js
  src/server/utils/error-utils.spec.js
  src/server/utils/request-utils.js
  src/server/utils/request-utils.spec.js
  webpack.dev.js
  yarn.lock
Due: prettier --write, eslint --fix, prettier-package-json --write

feat: implemented spinners - spinner when launching the app while restoring the saved trips - spinner for the search form submit button while loading results
  src/client/assets/fonts/fontello.eot
  src/client/assets/fonts/fontello.svg
  src/client/assets/fonts/fontello.ttf
  src/client/assets/fonts/fontello.woff
  src/client/assets/fonts/fontello.woff2
  src/client/assets/spinner.gif
  src/client/fonts/fontello.eot
  src/client/fonts/fontello.ttf
  src/client/fonts/fontello.woff
  src/client/fonts/fontello.woff2
  src/client/js/app-view.js
  src/client/js/app-view.spec.js
  src/client/js/app-view.spec.js.snap
  src/client/js/utils/browser-utils.js
  src/client/js/utils/browser-utils.spec.js
  src/client/styles/_layout.scss
  src/client/styles/index.scss
  src/client/styles/main/_main.scss
  src/client/styles/main/_search.scss
  src/client/views/index.html
Due: stylelint --fix, prettier --write, linthtml, eslint --fix

feat: adjusting the layout across different media queries
  src/client/js/render-view.js
  src/client/js/render-view.spec.js
  src/client/js/render-view.spec.js.snap
  src/client/styles/main/_card.scss
  src/client/styles/main/_main.scss
  src/server/routes/trips.js
  src/server/routes/trips.spec.js
Due: stylelint --fix, eslint --fix

feat: updating the weather forecast when restoring saved trips
  src/client/js/app-view.js
  src/client/js/app-view.spec.js
  src/client/js/app-view.spec.js.snap
  src/client/styles/_header.scss
  src/client/styles/index.scss
  src/server/routes/geoname.spec.js
  src/server/routes/location-info.spec.js
  src/server/routes/thumbnail.js
  src/server/routes/thumbnail.spec.js
  src/server/routes/trips.js
  src/server/routes/trips.spec.js
  src/server/routes/trips.spec.js.snap
  src/server/routes/weather-current.spec.js
  src/server/routes/weather-forecast.js
  src/server/routes/weather-forecast.spec.js
  src/server/utils/date-utils.js
  src/server/utils/date-utils.spec.js
Due: stylelint --fix, eslint --fix

feat: retrieving a thumbail of the country, in case there is no thumbnail returned for the city
  src/server/routes/thumbnail.js
  src/server/routes/thumbnail.spec.js
Due: eslint --fix

docs: adding comments
  src/client/js/app-controller.js
  src/client/js/app-view.js
  src/client/js/render-view.js
  src/client/js/utils/browser-utils.js
  src/client/js/utils/controller-utils.js
  src/client/js/utils/date-utils.js
  src/client/js/utils/error-utils.js
  src/server/index.js
  src/server/index.spec.js
  src/server/routes/foo.js
  src/server/routes/geoname.js
  src/server/routes/location-info.js
  src/server/routes/thumbnail.js
  src/server/routes/trips.js
  src/server/routes/weather-current.js
  src/server/routes/weather-forecast.js
  src/server/utils/date-utils.js
  src/server/utils/error-utils.js
  src/server/utils/request-utils.js
  webpack.dev.js
Due: eslint --fix

feat: add length of the trip
  src/client/js/render-view.js
  src/client/js/render-view.spec.js
  src/client/js/render-view.spec.js.snap
  src/client/js/utils/date-utils.js
  src/client/js/utils/date-utils.spec.js
  src/client/styles/main/_card.scss
Due: stylelint --fix, eslint --fix

feat: adding service worker
  package.json
  src/client/views/index.html
  webpack.prod.js
  yarn.lock
Due: prettier --write, linthtml, eslint --fix, prettier-package-json --write

fix: minor fixes
  src/client/styles/index.scss
  src/client/styles/main/_card.scss
  src/server/index.js
Due: stylelint --fix, eslint --fix

docs: add README
  README.md
Due: none

chore: adding env variables for project submission purpose only
  .env
  .gitignore
Due: none

fix: fixing the issue impacting dates when changing the local timezone
  src/client/js/app-view.js
  src/client/js/app-view.spec.js
  src/client/js/app-view.spec.js.snap
  src/client/js/render-view.js
  src/client/js/render-view.spec.js
  src/client/js/render-view.spec.js.snap
  src/client/js/utils/date-utils.js
  src/client/js/utils/date-utils.spec.js
  src/client/styles/main/_card.scss
  src/server/index.js
  src/server/routes/weather-current.js
  src/server/routes/weather-current.spec.js
  src/server/utils/date-utils.js
  src/server/utils/date-utils.spec.js
Due: stylelint --fix, eslint --fix

chore: bump packages, yarn and node versions
  .env
  .eslintrc.yml
  .husky/pre-commit
  .linthtmlrc.yaml
  .nvmrc
  .prettierignore
  .stylelintrc.yaml
  .vscode/settings.json
  eslint.config.mjs
  jest.config.js
  jest/jest-transform-stub-named.js
  jest/jest.setup.js
  package.json
  src/client/index.js
  src/client/js/app-controller.spec.js
  src/client/js/app-view.spec.js.snap
  src/client/js/render-view.spec.js.snap
  src/client/js/utils/browser-utils.js
  src/client/js/utils/controller-utils.spec.js
  src/client/styles/_header.scss
  src/client/styles/_layout.scss
  src/client/styles/index.scss
  src/client/styles/main/_card.scss
  src/client/styles/main/_main.scss
  src/client/styles/main/_search.scss
  src/client/views/index.html
  src/server/api-routes.spec.js.snap
  src/server/index.spec.js
  src/server/index.spec.js.snap
  src/server/routes/geoname.spec.js
  src/server/routes/location-info.spec.js
  src/server/routes/thumbnail.spec.js
  src/server/routes/trips.js
  src/server/routes/trips.spec.js
  src/server/routes/trips.spec.js.snap
  src/server/routes/weather-current.spec.js
  src/server/routes/weather-forecast.spec.js
  webpack.dev.js
  webpack.prod.js
  yarn.lock
Due: stylelint --fix, prettier --write, linthtml, eslint --fix, prettier-package-json --write

Path conditions:
  stylelint --fix: (any of: *.css) or (any of: *.scss)
  prettier --write: (any of: *.html) or (any of: *.json)
  linthtml: any of: *.html
  eslint --fix: any of: *.js
  prettier-package-json --write: any of: package.json
